
@{
                /**/

                ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Hakkımızda
                </div>
                <div class="block-controls">
                   
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner clearfix">
                    
                        <img class="pull-left img-responsive" src="~/Content/5-11.jpg" alt="">
                        Kasım 2006 tarihinde internet üzerinde hizmet vermeye başlayan TozluRaflar.com ticaret sitesi TozluRaflar Bilişim ve Reklamcılık Limited Şirketi tarafından işletilmektedir. TozluRaflar, Türkiye'deki kitap satıcılarını ve sahafları internet üzerinden alış-veriş yapmak isteyen kişilerle güvenli bir şekilde buluşturmak ve aralarında gerçekleşecek ticarete aracılık etmek amacıyla hizmet vermektedir. Bu amaç çerçevesinde Güvenli Ticaret Döngüsü sistemi oluşturulmuş ve böylece TozluRaflar'ta alış-verişin en güvenli şekilde gerçekleştirilmesi amaçlanmıştır.

                        Siteye üye olan sahaf ve kitap satıcıları, siteye her gün yeni kitap, dergi vs. eklemektedir. Dolayısıyla yıllar önce basılmış bir kitabı veya yeni basılmış ama baskısı tükenmiş bir kitabı TozluRaflar'ta bulmak her gün daha da kolaylaşmaktadır. TozluRaflar aracılığıyla yayınevleri veya kitap satıcıları, ürünlerini internet ortamında binlerce müşteriye en hızlı ve kolay şekilde satıma sunma avantajını yakalarken, kitap almak isteyenler de bu çok satıcılı ortamda almak istediği kitap, dergi vb. ürünleri en uygun fiyata bulma şansını elde ederler.

                        Bize, Destek Hattı'ndan mesaj atarak veya destek [at] TozluRaflar.com adresine email yazarak ulaşabilirsiniz.

                        <br />

                        Adres: Atakent Mah. Atakan Cad. Tonguç Sk. No:36/A Ümraniye/İstanbul (Ofisimizde kitap bulunmamakta ve ofisten satış yapılmamaktadır.)<br />
                        Tel: 0(216) 481 80 85 
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

