
@{
    ViewBag.Title = "Anasayfa";
}




<div class="container" style="padding-top:1px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"> </li>
            <li data-target="#myCarousel" data-slide-to="1"> </li>
            <li data-target="#myCarousel" data-slide-to="2"> </li>
            <li data-target="#myCarousel" data-slide-to="3"> </li>
            <li data-target="#myCarousel" data-slide-to="4"> </li>
            <li data-target="#myCarousel" data-slide-to="5"> </li>

        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/05-07-2019_1562349239034_1.png">
            </div>

            <div class="item">
                <img src="~/Images/05-04-2019_1554448962869_1.png">
            </div>

            <div class="item">
                <img src="~/Images/10-07-2019_1562652566169_1.png">
            </div>



            <div class="item">
                <img src="~/Images/24-06-2019_1561126124970_1.png">
            </div>

            <div class="item">
                <img src="~/Images/25-06-2019_1561448691330_1.png">
            </div>
        </div>
        <!-- Left and right controls -->
        <a href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"> </span>

        </a>

        <a href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"> </span>

        </a>




    </div>
</div>

<marquee behavior=alternate bgcolor="#ffffff ">

    <img src="~/Images/14-03-2017_1489473092486_1.png">

    <img src="~/Images/14-03-2017_1489473175318_1.png">

    <img src="~/Images/14-03-2017_1489473401530_1.png">

    <img src="~/Images/14-03-2017_1489473442201_1.png">
    <img src="~/Images/16-08-2018_1534404520065_1.png">
    <img src="~/Images/16-08-2018_1547818447058_1.png">

</marquee>


<br /><br /><br />
<div style="position: relative; height: 840px;" data-bind="visible: isVisible" class="categoryBanners contain-lg-4 contain-md-4 contain-sm-4 fluid">
    <div style="position: absolute; left: 176px; top: 16px; width: 467px; height: 202px;" class="categoryBanner">
        <a href="https://www.hepsiburada.com/kitaplar-c-2147483645?siralama=coksatan">
            <img src="~/Images/22-10-2018_1560783062139_1.png" title="cok_satan_kitaplar" height="170" width="435">
        </a>
    </div>
    <div style="position: absolute; left: 643px; top: 16px; width: 467px; height: 202px;" class="categoryBanner">
        <a href="https://www.hepsiburada.com/yeni-cikan-kitaplar-c-80244042">
            <img src="~/Images/22-10-2018_1540205981293_1.png" title="yeni_cikan_kitaplar" height="170" width="435">
        </a>
    </div>
    <div style="position: absolute; left: 176px; top: 218px; width: 467px; height: 202px;" class="categoryBanner">
        <a href="https://www.hepsiburada.com/egitim-kitaplari-c-15033037">
            <img src="~/Images/22-10-2018_1540206046276_1.png" title="egitim_kitaplar" height="170" width="435">
        </a>
    </div>
    <div style="position: absolute; left: 643px; top: 218px; width: 467px; height: 202px;" class="categoryBanner">
        <a href="https://www.hepsiburada.com/cocuk-kitaplari-c-9914">
            <img src="~/Images/22-10-2018_1540206085556_1.png" title="cocuk_kitaplari" height="170" width="435">
        </a>
    </div>
    <div style="position: absolute; left: 176px; top: 420px; width: 467px; height: 202px;" class="categoryBanner">
        <a href="https://www.hepsiburada.com/haftanin-kitaplari-c-80243183">
            <img src="~/Images/22-10-2018_1540205960776_1.png" title="haftanin_kitaplari" height="170" width="435">
        </a>
    </div>
    <div style="position: absolute; left: 643px; top: 420px; width: 467px; height: 202px;" class="categoryBanner">
        <a href="https://www.hepsiburada.com/ayin-en-cok-okunanlari-c-80360123">
            <img src="~/Images/22-10-2018_1540206112062_1.png" title="ayin_kitaplari" height="170" width="435">
        </a>
    </div>

</div>

















